p{
    background-image: url(img_flwr.gif),url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat,repeat;
    padding: 85px;

    /*beraber yazmak
        background:url(img_flwr.gif) right bottom no-repeat, url(paper.gif) left top repeat;
    */

    background-size: 100px 70px,auto;
}